<!DOCTYPE html>
<html>
<head>
  <title>FacebookJs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script language="javascript" type="text/javascript">
    FB.api('me/friends', function(response) {
        console.log(response);
    });


    FB.init({
        appId: 165217670339554,
        xfbml: true,
        cookie: true,
        oauth: true
    });

</script>

</body>
</html>
